body{
	margin:0;
}
.white-text{
	color: white !important;
}
.loginBtn{
	top:3px;
	border: 10px;
	box-sizing: border-box;
	display: inline-block;
	font-family: Roboto, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	outline: none;
	font-size: inherit;
	font-weight: inherit;
	transform: translate(0px, 0px);
	height: 36px;
	line-height: 36px;
	min-width: 88px;
	color: rgba(255, 255, 255, 0.870588);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	text-align: center;
	-webkit-user-select: none;
	background-color: rgba(0, 0, 0, 0);
}
.loginText{
	position: relative;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
		color:white;
}
.loginUsername{
	position: relative;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
		top:-7px;
		color:white;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
	font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 400;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
	cursor: pointer;
}
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
	border: 0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
	border-bottom-width: 2px;
}
.table > tbody > tr:hover {
	background-color: #dbfcff;
}
.reactable-filterer{

	background-color: #00a6b4;
}
.reactable-filterer > td{
	padding:0 !important;
	cursor: default !important;
}
.reactable-filter-input{
		-webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    outline: none;
    border: none;
    border-radius: 0;
    background: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
		margin: 15px -15px 15px 15px;
		width: 97%;
		box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    -webkit-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    -webkit-appearance: none;
}

.reactable-filter-input:focus {
    /*height: 80px;*/
		width: 100%;
    margin-left: -15px;
    padding: 10px 15px;
		margin: 0;
		height: 80px;
		border-radius: 0px;
}
.reactable-page-button{
	border: 10px;
	box-sizing: border-box;
	display: inline-block;
	font-family: Roboto, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	outline: none;
	font-size: inherit;
	font-weight: inherit;
	position: relative;
	z-index: 1;
	height: 36px;
	top: 7px;
	line-height: 36px;
	min-width: 36px;
	color: rgba(0, 0, 0, 0.870588);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	border-radius: 2px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	user-select: none;
}
.reactable-page-button:hover{
	background-color: #00a6b4 !important;
	color:white
}
.table .reactable-pagination > tr > td{
	text-align: center;
}
